<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Site Metas -->
    <title>@ViewData["Title"] - Medico</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/fevicon.ico.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Colors CSS -->
    <link rel="stylesheet" href="~/css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="~/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Modernizer for Portfolio -->
    <script src="~/js/modernizer.js"></script>
    <!-- [if lt IE 9] -->
</head>
<body class="clinic_version">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Medico</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Disease" asp-action="Create">Disease</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>*@



    <!-- END LOADER -->
    <header>
        <div class="header-top wow fadeIn">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="~/images/logo12.png" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">

                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="display:inline-block">
                            <li>
                                <a class="active" href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li>
                                <a data-scroll href="@Url.Action("Index","Diseases")">Disease</a>
                            </li>
                            <li>
                                <a data-scroll href="@Url.Action("Index","Symptoms")">Symptoms</a>
                            </li>
                            <li>
                                <a data-scroll href="@Url.Action("Index","Diagnosis")">Diagnosis</a>
                            </li>
                            @*<li>
                                    <a data-scroll href="@Url.Action("Index","Users")">Users</a>
                                </li>*@
                            <li>
                                <a data-scroll href="@Url.Action("Index","Cures")">Cure</a>
                            </li>
                            <li>
                                <a data-scroll href="@Url.Action("Index","Diagnoses")">Diagnoses</a>
                            </li>
                            @*<li>
                                    <a data-scroll href="@Url.Action("Index","DiagnoseDiseases")">DaignoseDisease</a>
                                </li>*@
                            @*<li>
                                    <a data-scroll href="@Url.Action("Index","DiseaseCures")">DiseaseCures</a>
                                </li>
                                <li>
                                    <a data-scroll href="@Url.Action("Index","DiseasePrecautions")">DiseasePrecaution</a>
                                </li>*@
                            <li>
                                <a data-scroll href="@Url.Action("Index","Precautions")">Precautions</a>
                            </li>
                        </ul>

                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
            <!--Search Bar Hide-->
            @*<div class="serch-bar">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="~/fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>*@
        </div>

    </header>

    <div style="margin-top:160px">
        @RenderBody()
    </div>


    <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- all js files -->
    <!-- all plugins -->
    <!-- map -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @try { RenderSection("Scripts"); } catch { }
</body>
</html>
